<div style="padding-left: 2em; padding-top: 2em;">
	
	<h1 class="content-title">Random info on wrigleyvillepost</h1>
	<hr/>
	
	<p class="content-text">
	Not too much info here. I just made this site to share my love of the Cubs, baseball, and sports. Very new site so 
	currently there is not a lot of content available and that site doesn't look great. Though, as I've said before, 
	I hope that changes soon!  
	</p>
	
	<p class="content-text">
	If you are interested in writing a piece on anything Cubs related or sports related,
	I will happily post it on here as long as it is appropriate. Just send me an email.
	</p>
	
	<p class="content-text">
		If there's anything you find on the site that is broken or could be improved, please
		let me know and I will do my best to fix it.
	</p>
	
	<p class="content-text">
	Finally, All the images I use on this site are under the correct license or with the owner's permission. 
	When it comes to other visual content like YouTube videos, Twitter, etc, that is all used correctly since
	the only requirement for that is (typically, depends on providers TOS) having original content, which I always
	do have. I also try my best to make sure that the uploader of the visual content is the actual owner of that 
	media, so that the correct owner gets to have more views and credit.
	</p>
	
	<p class="content-text" >
	As for contact, I will answer any email pretty quickly at wrigleyvillepost@gmail.com
	</p>

</div>