<h1 class="content-title">Funniest reaction found to Blackhawk's recent win</h1>
<p class="content-title-info">
	<em>Written by: thedanman55 ... 06/16/2015 8:55PM</em>
</p>
<hr/>

<p class="content-text">
Whenever a team wins a major championship, fans reactions can always bring the unexpected.
In this case, a fan takes a witty and hilarious take on the blackhaks winning. Watch
for yourself here:
</p>

<div class="margin-auto">
<script height="307px" width="550px" src="http://player.ooyala.com/iframe.js#ec=k4ZW5vdTonn2pQOOld_zuMlG_aX9WQss&pbid=4441ed2a84e74b66b60ce980f20deb84"></script>
</div>

<p class="content-text margin-top-1_5">
	Also, some random info. the parade is this Thursday (06/18). Having been to one
	myself, they are an absolutly awesome experience.
	<a href="http://bleacherreport.com/articles/2497472-chicago-blackhawks-parade-2015-route-date-tv-schedule-live-stream-and-more">
	Here is some more info on it from a good article on it from bleacherreport
	</a>
</p>