<div class="content-top">
<h1 class="content-title">Brandon Phillips makes a crazy behind the back throw to get the force out</h1>
<p class="content-title-info">
	<em>Written by: thedanman55 ... 07/20/2015 10:55PM</em>
</p>
</div>
<hr/>

<p class="content-text">
As tough as the Cubs loss was today, I have to admit that this play by Brandon Phillips in the top
of the seventh was pretty awesome. With Soler batting and men on first and second,
he hits a tough groundball up the middle and past the pitcher. 
And here, with quick feet, Phillips is able to stop the ball and toss it behind his back to get
the force at second. 
</p>

<p class="content-text">
My prediction is that this will be a webgem. Everyone loves flashy and skillful moves that you don't see everyday.
Though, from an analytical point of view, I think there's much more to it. Stopping the 
ball prevented a run from scoring, and the heads up toss was able to close out the inning.
Anyways, video below: 
</p>

<div class="mlb-embedded margin-auto" style="padding-bottom: 3em;">
	<iframe src='http://m.mlb.com/shared/video/embed/embed.html?content_id=274945583&topic_id=6479266&width=550&height=307&property=mlb' width='550' height='307' frameborder='0'>Your browser does not support iframes.</iframe>
</div>

				