<h1 class="content-title">FBI investigating the Cardinals of hacking into the Astros 'Ground Water' database</h1>
<p class="content-title-info">
	<em>Written by: thedanman55 ... 06/16/2015 8:55PM</em>
</p>
<hr/>

<div class="content-img-box">
	<img ng-src="/client/images/cardinals.jpg" class="content-img"/>
	<div class="srctext-box">
		<p class="related-sourcetext"><em>Image: <a href="https://flic.kr/p/t1kVSq"> "Cardinals vs. Mets: 5/18/2015" by Arturo Pardavalla III via Flickr</a> under the <a href="https://creativecommons.org/licenses/by/2.0/">cc-by</a> license</em></p>
	</div>
</div>

<p class="content-text">
If you haven't heard it, the St. Louis Cardinals are reported to be investigated by the FBI of hacking into the Astros database. From what I've seen, it appears that this is related to the leaked trade info from the Astros in 2013.  It's trade info like that which may or may not have helped them make trade decisions during that 2013 season. One specific example is Peter Bourjous. In the leaked documents which we have seen, emails can be seen where the Angels were letting the Astros know that he would be available. Only a few weeks after the date of that email, Bourjous was acquired by the Cardinals. If these allegations are true, we can only imagine the consequences would be extreme. And whether or not they are true isn’t confirmed, but Michael McCann (SI Sports Law) had this to say: 
</p>

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It&#39;s telling Major League Baseball is already calling it an &quot;illegal breach&quot; rather than an &quot;alleged illegal breach.&quot; Someone broke the law.</p>&mdash; Michael McCann (@McCannSportsLaw) <a href="https://twitter.com/McCannSportsLaw/status/610838855915315200">June 16, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
