<div class="content-top">
<h1 class="content-title">Dad catches home run ball bare handed while holding his kid. 
	Remains cool after catch.
</h1>
<p class="content-title-info">
	<em>Written by: thedanman55 ... 06/22/2015 8:00PM</em>
</p>
</div>
<hr/>

<p class="content-text">
Well, this isn't something that you see very often. A bare handed home run catch is pretty
awesome in itself. Doing it while holding a baby and not giving
a damn after catching the ball? Not bad, I would say that's pretty badass.
</p>
<p class="content-text">
This vine probably has the best view of it:
</p>
<div class="mlb-embedded margin-auto">
<iframe src="https://vine.co/v/MIHU6Jd7gjn/embed/simple" width="600" height="600" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
</div>

<p class="content-text">
It's even more fitting that this catch happened on Father's day. Anyways, do you think this matches the guy who caught a bat with one hand? I think that one's
too close too call.</p>

				