<div class="content-top">
<h1 class="content-title">Learning Angular #1 - About AngularJS and some easy examples</h1>
<p class="content-title-info">
	<em>Written by: Web Dev. Tuts. ... 06/24/2015 9:45PM</em>
</p>
</div>
<hr/>

<p class="content-text">
Simple intro to AngularJS which covers what the framework is exactly and some things
that you'll need to get set up. Along with that, there's a small example of Angular to
show you some of the things that you can do in AngularJS. 
</p>

<p class="content-text">
Video: 
</p>

<div class="mlb-embedded margin-auto">
<iframe width="560" height="315" src="https://www.youtube.com/embed/lRRn6uzinTA" frameborder="0" allowfullscreen></iframe>
</div>

<p class="content-text">
Source code:
</p>

<div class="source-code-container">
	
	<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #557799">&lt;!DOCTYPE html&gt;</span>
<span style="color: #007700">&lt;html</span> <span style="color: #0000CC">ng-app</span> <span style="color: #0000CC">lang=</span><span style="background-color: #fff0f0">&quot;en&quot;</span><span style="color: #007700">&gt;</span>
<span style="color: #007700">&lt;head&gt;</span>
	<span style="color: #007700">&lt;meta</span> <span style="color: #0000CC">charset=</span><span style="background-color: #fff0f0">&quot;UTF-8&quot;</span><span style="color: #007700">&gt;</span>
	<span style="color: #007700">&lt;title&gt;</span>Document<span style="color: #007700">&lt;/title&gt;</span>
	<span style="color: #007700">&lt;script </span><span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;text/javascript&quot;</span> <span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>
<span style="color: #007700">&lt;/head&gt;</span>
<span style="color: #007700">&lt;body&gt;</span>
	<span style="color: #007700">&lt;input</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&quot;text&quot;</span> <span style="color: #0000CC">ng-model=</span><span style="background-color: #fff0f0">&quot;inputVariable&quot;</span><span style="color: #007700">&gt;&lt;/input&gt;</span>
	<span style="color: #007700">&lt;h1&gt;</span>{{inputVariable}}<span style="color: #007700">&lt;/h1&gt;</span>
<span style="color: #007700">&lt;/body&gt;</span>
<span style="color: #007700">&lt;/html&gt;</span>
</pre></td></tr></table></div>

	
</div>
				