<div class="content-top">
<h1 class="content-title">Steven Souza's bunt goes for a 2 run home run</h1>
<p class="content-title-info">
	<em>Written by: thedanman55 ... 06/17/2015 10:55PM</em>
</p>
</div>
<hr/>

<p class="content-text">
Tampa Bay continues their success as Souza was a beast in today's game. He hit a normal home-run 
and had this little league one too: 
</p>

<div class="mlb-embedded margin-auto">
<iframe src='http://m.mlb.com/shared/video/embed/embed.html?content_id=172197183&topic_id=6479266&width=550&height=307&property=mlb' width='550' height='307' frameborder='0'>Your browser does not support iframes.</iframe>
</div>

<p class="content-text">
There haven't been too many little league home runs this year, but either way I 
think the one we've seen today, is definitely at the top. In a very rainy Nationals Park, Souza trys to bunt for a hit,
but with the wet conditions the pitcher over throws on his throw to first, something which would normally let Souza get to third
on such a play, but another miss on the throw to home allows him to score easily. Video above: 
</p>
				