<div class="content-top">
<h1 class="content-title">Home plate umpire charges the mound at Jon Lester</h1>

<div class="content-info-share">
	
	<p class="content-title-info">
		<em>Written by: thedanman55 ... 06/26/2015 7:55AM</em>
	</p> 
	
	<div class="share-buttons">
		
		<div class="share-button-left">
			<a href="http://twitter.com/intent/tweet?status={{og_title}}+{{og_url}}" class="no-decoration">
			<p class="share-button-text">
				<i style="margin-right: 0.5em;" class="fa fa-twitter fa-lg"></i>
				TWEET 
			</p>
			</a>
		</div>
		
		<div class="share-button-right">
			<a href="http://www.facebook.com/sharer/sharer.php?u={{og_url}}&title={{og_title}}" class="no-decoration">
			<p class="share-button-text">
				<i style="margin-right:0.5em;" class="fa fa-facebook-f fa-lg"></i>
				SHARE
			</p>
			</a>
		</div>
		
	</div>	

</div>

</div>

<hr/>

<p class="content-text">
Power trip much? Usually when someone in chargin the mound, it's the player going after the pitcher. Well, in this case it was the umpire.
After (presumably) being frustrated at himself after a called ball 4, the umpire (Andy Fletcher), went out after Lester. Funny enough, David Ross
had to stop him on his way there. As expected, Maddon come out to say something along the lines of "what the fuck are you doing?".
Anyways, here's the video of the actual incident:
</p>

<div class="mlb-embedded margin-auto">
<iframe src='http://m.mlb.com/shared/video/embed/embed.html?content_id=197393583&topic_id=6479266&width=550&height=307&property=mlb' width='550' height='307' frameborder='0'>Your browser does not support iframes.</iframe>
</div>

<p class="content-text">

</p>
				